[*.cs]

# CS8622: Nullability of reference types in type of parameter doesn't match the target delegate (possibly because of nullability attributes).
dotnet_diagnostic.CS8622.severity = silent

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent
